semantic-layer/__pycache__/
*.log
agent-service/__pycache__/
mcp-hub/tools/__pycache__/
semantic-layer/cube/__pycache__/
metrics-engine/__pycache__/
mcp-hub/__pycache__/
webUI/.chainlit/
webUI/__pycache__/
.chainlit/
webUI/.files/
auth-service/__pycache__/
policy-engine/__pycache__/
